.wrapper {
  display: flex;
  align-items: center;
  height: 44px;
  padding: var(--spacing-2, 0.5rem) var(--spacing-1half, 0.375rem)
    var(--spacing-2, 0.5rem) var(--spacing-3, 0.75rem);
  border-bottom: solid 1px var(--pane-border);
  background-color: var(--pane-background);
  backdrop-filter: blur(30px);
}

.tabsList {
  display: inline-flex;
  gap: var(--spacing-half);
  padding: var(--spacing-half);
  border-radius: var(--border-radius-md, 0.375rem);
  background: var(--button-background, #2e3031);
}

.tabsTrigger {
  padding: var(--spacing-1half, 0.375rem) var(--spacing-2, 0.5rem);
  border-radius: var(--border-radius-base, 0.25rem);
  background-color: transparent;
  gap: var(--spacing-2, 0.5rem);
  color: var(--global-foreground, #fff);
  font-family: var(--main-font, Inter);
  font-size: var(--font-size-3, 0.75rem);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: background-color var(--default-hover-animation-duration)
    var(--default-timing-function);
}

.tabsTrigger[data-state='active'] {
  background: var(--button-background-hover, #434546);
}

.schemaNameLabel {
  color: var(--global-foreground, #fff);
  font-size: var(--font-size-2, 11px);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
