.code {
  display: inline-grid;
  padding: var(--spacing-1);
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius-base, 0.25rem);
  border: 1px solid var(--color-green-alpha-20, rgba(29, 237, 131, 0.2));
  background: var(--color-green-alpha-10, rgba(29, 237, 131, 0.1));
  color: var(--primary-color, #1ded83);
  font-family: var(--main-font-en, Inter);
  font-size: var(--font-size-5, 0.875rem);
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}
