.ol {
  padding-left: var(--space-4, 16px);
  font-size: var(--font-size-6, 16px);
  line-height: 160%;
}

.ol li {
  margin-top: var(--space-2, 16px);
  counter-increment: title;
  color: var(--global-body-text);
  font-weight: 400;
  padding-left: var(--space-1, 8px);
}

.ol li::marker {
  content: counter(title) '.';
  color: var(--global-foreground);
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .ol {
    font-size: var(--font-size-5, 14px);
  }
}
