.wrapper {
  border-radius: var(--border-radius-md);
  border: 1px solid var(--overlay-20);
  width: 172px;
  transition: border-color 300ms var(--default-timing-function), border-width
    300ms var(--default-timing-function);
}

.wrapper:hover {
  border: 1px solid var(--primary-accent);
  box-shadow: 0px 0px 20px 0px rgba(29, 237, 131, 0.4);
}

.wrapperActive,
.wrapperActive:hover {
  border: 2px solid var(--primary-accent);
  box-shadow: 0px 0px 20px 0px rgba(29, 237, 131, 0.4);
}

.columnWrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: var(--spacing-2);
  gap: var(--spacing-1half);
  background: var(--node-background);
  color: var(--global-foreground);
  font-size: var(--font-size-3);
  line-height: normal;
  border-bottom: 1px solid var(--node-border);
}

.columnWrapper:last-child {
  border-bottom-left-radius: var(--border-radius-md);
  border-bottom-right-radius: var(--border-radius-md);
}

.primaryKeyIcon {
  color: var(--primary-accent);
}

.diamondIcon {
  color: var(--overlay-70);
}

.columnNameWrapper {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.columnName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.columnType {
  color: var(--overlay-70, rgba(255, 255, 255, 0.7));
  text-align: right;
  font-family: var(--code-font);
  font-size: var(--font-size-1);
  font-weight: 400;
  line-height: normal;
  opacity: 0;
  transition: opacity 300ms var(--default-timing-function);
}

.wrapper:hover .columnType {
  opacity: 1;
}

.handle {
  top: auto;
  opacity: 0;
}

.handle[data-handlepos='right'] {
  transform: translate(50%, 0%);
}

.handle[data-handlepos='left'] {
  transform: translate(-50%, 0%);
}

.handleCardinality {
  top: auto;
  position: absolute;
  width: 23px;
  height: 16px;
}

.handleCardinalityHighlighted {
  color: var(--node-layout);
}

.handleCardinalityDefault {
  color: var(--global-border);
}

.handleCardinalityRight {
  right: -23px;
}

.handleCardinalityLeft {
  left: -23px;
}
