.wrapper {
  padding: var(--spacing-4);
  background: var(--global-foreground);
  border: 1px solid var(--primary-accent);
  border-radius: var(--border-radius-md);
  box-shadow: 0 0 20px 0 rgb(0 169 182 / 40%);
}

.wrapper[data-state='open'] {
  animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.wrapper[data-state='closed'] {
  animation: hide 100ms var(--default-timing-function);
}

.wrapper.info {
  background: var(--info-background);
  border-color: var(--color-teal-800);
  box-shadow: 0 0 20px 0 rgb(247 80 73 / 40%);
}

.wrapper.error {
  background: var(--error-background);
  border-color: var(--color-red-500);
  box-shadow: 0 0 20px 0 rgb(247 80 73 / 40%);
}

.wrapper.success {
  background: var(--success-background);
  border-color: var(--color-green-400);
  box-shadow: 0 0 20px 0 rgb(29 237 131 / 40%);
}

.wrapper.warning {
  background: var(--warning-background);
  border-color: var(--color-gold-alpha-100);
  box-shadow: 0 0 20px 0 rgb(255 191 54 / 40%);
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.title {
  font-size: var(--font-size-5);
  font-weight: 600;
  color: var(--color-gray-1000);
}

.wrapper.info .title {
  color: var(--info-foreground);
}

.wrapper.error .title {
  color: var(--error-foreground);
}

.wrapper.success .title {
  color: var(--success-foreground);
}

.wrapper.warning .title {
  color: var(--warning-foreground);
}

.description {
  font-size: var(--font-size-3);
  font-weight: 500;
  color: var(--color-gray-400);
}

.wrapper.info .description {
  color: var(--info-foreground);
}

.wrapper.error .description {
  color: var(--error-foreground);
}

.wrapper.success .description {
  color: var(--success-foreground);
}

.wrapper.warning .description {
  color: var(--warning-foreground);
}

.viewport {
  position: fixed;
  top: var(--spacing-4);
  right: var(--spacing-4);
  z-index: var(--z-index-toast);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}
