.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--spacing-1);
  margin-bottom: var(--spacing-3);
}

.avatarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  min-height: 24px;
  gap: var(--spacing-1);
}

.contentContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--spacing-2);
}

.messageWrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  max-width: 100%;
}

.messageContent {
  background-color: var(--overlay-5);
  border-radius: var(--border-radius-base);
  padding: 8px 12px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  width: 100%;
}

.messageText {
  color: var(--overlay-70);
  font-family: var(--main-font), sans-serif;
  font-weight: 400;
  font-size: var(--font-size-4);
  line-height: 1.6;
  word-wrap: break-word;
  white-space: normal;
  width: 100%;
}

.userName {
  font-family: var(--main-font), sans-serif;
  font-weight: 500;
  font-size: var(--font-size-3);
  line-height: 1.6;
  color: var(--global-body-text);
  margin-left: var(--spacing-1);
}

.messageTime {
  font-family: var(--main-font), sans-serif;
  font-weight: 400;
  font-size: var(--font-size-2);
  line-height: 1.6;
  color: var(--overlay-50);
  margin-left: var(--spacing-1);
}
