/* https://fonts.google.com/specimen/IBM+Plex+Mono */
/* https://fonts.google.com/specimen/Inter */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --default-timing-function: ease-out;
  --default-animation-duration: 300ms;
  --default-hover-animation-duration: 100ms;

  --code-font: 'ui-monospace', 'IBM Plex Mono', SF Mono, Menlo, Monaco, Consolas,
    monospace;

  --z-index-sidebar: 900;
  --z-index-drawer: 900;
  --z-index-header: 1000;
  --z-index-dropdown-menu: 1100;
  --z-index-tooltip: 2000;
  --z-index-toast: 3000;
}
