:root {
  --default-timing-function: ease-out;
  --default-animation-duration: 300ms;
  --default-hover-animation-duration: 100ms;

  --code-font: 'ui-monospace', 'IBM Plex Mono', SF Mono, Menlo, Monaco, Consolas,
    monospace;

  --z-index-sidebar: 900;
  --z-index-drawer: 900;
  --z-index-header: 1000;
  --z-index-dropdown-menu: 1100;
  --z-index-tooltip: 2000;
  --z-index-toast: 3000;
  --z-index-cookie-consent: 4000;
}
