.navPostWrapper {
  display: grid;
  grid-template-rows: auto auto;
  gap: var(--spacing-8);
}

.navPrev {
  grid-area: 0 / 2;
}

.navNext {
  grid-area: 0 / 2;
}

@media screen and (min-width: 768px) {
  .navPostWrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
    gap: var(--spacing-10);
  }

  .navPrev {
    grid-area: 0 / 1;
  }

  .navNext {
    grid-area: 1 / 2;
  }
}

.container {
  padding: 0 var(--spacing-20, 80px);
  display: flex;
  justify-content: space-between;
  margin-top: var(--spacing-10, 40px);
  gap: var(--spacing-10, 40px);
}

.left {
  width: 274px;
  position: sticky;
  top: 0;
}

.center {
  width: 880px;
  padding: var(--spacing-6, 24px);
}

.right {
  width: 274px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-10, 40px);
}

@media screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
    padding: 0 var(--spacing-5, 20px);
  }

  .left {
    width: 100%;
    padding: var(--spacing-5, 20px);
    position: relative;
  }

  .center {
    width: 100%;
  }

  .right {
    width: 100%;
    padding: var(--spacing-5, 20px);
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 var(--spacing-2, 8px);
  }

  .left,
  .center,
  .right {
    padding: var(--spacing-2, 8px);
  }
}
