.wrapper {
  display: flex;
  padding: var(--spacing-5, 20px);
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--global-background);
}

.message {
  display: flex;
  padding-top: var(--spacing-10, 40px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-5, 20px);
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-2, 8px);
  align-self: stretch;
}

.silentHere {
  align-self: stretch;
  color: var(--primary-color, #1ded83);
  text-align: center;
  font-family: var(--message-font, Montserrat);
  font-size: var(--font-size-18, 48px);
}

.errorMessage {
  align-self: stretch;
  color: var(--global-foreground, #fff);
  text-align: center;
  font-family: var(--message-font-en, Montserrat);
  font-size: var(--font-size-10, 24px);
  font-weight: 500;
  line-height: 120%;
}

.instruction {
  align-self: stretch;
  color: var(--overlay-70, rgba(255, 255, 255, 0.7));
  text-align: center;
  font-size: var(--font-size-6, 16px);
  line-height: 160%;
  overflow: hidden;
  word-break: break-word;
  overflow-wrap: break-word;
}

@media screen and (max-width: 768px) {
  .silentHere {
    font-size: var(--font-size-10, 24px);
  }

  .errorMessage {
    font-size: var(--font-size-4, 13px);
  }

  .instruction {
    font-size: var(--font-size-4, 13px);
  }
}
