.link {
  color: var(--primary-color);

  &:hover {
    background-image: linear-gradient(
      var(--primary-color),
      var(--primary-color)
    );
    background-size: 100% 1px;
    background-position: 0 100%;
    background-repeat: no-repeat;
  }
}
