.wrapper {
  display: flex;
  padding: var(--spacing-2);
  align-items: center;
  gap: var(--spacing-1);
  border-radius: var(--border-radius-md) var(--border-radius-md) 0px 0px;
  background: var(--global-muted-background);
  backdrop-filter: blur(8px);
  color: var(--overlay-60);
  text-overflow: ellipsis;
  font-size: var(--font-size-5);
  font-weight: 500;
  line-height: normal;
}

.wrapperTableNameMode {
  border-bottom-left-radius: var(--border-radius-md);
  border-bottom-right-radius: var(--border-radius-md);
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.handle {
  top: auto;
  opacity: 0;
}

.handle[data-handlepos='right'] {
  transform: translate(50%, 0%);
  right: -17px;
}

.handle[data-handlepos='left'] {
  transform: translate(-50%, 0%);
  left: -20px;
}
