.tabs {
  width: 100%;
}

.tabList {
  display: flex;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 1rem;
}

.tabTrigger {
  padding: 0.75rem 1rem;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  position: relative;
}

.tabTrigger.active {
  font-weight: 500;
}

.tabTrigger.active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #2563eb;
}

.tabsContent {
  padding-top: 1rem;
}

.tabContent {
  width: 100%;
}
