.wrapper {
  display: flex;
  padding: var(--spacing-2, 8px);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--spacing-2, 8px);
}

.zoomLevelText {
  display: flex;
  width: 100%;
  padding: var(--spacing-1, 4px);
  gap: var(--spacing-1, 4px);
  justify-content: space-between;
  align-items: center;
}

.zoom {
  color: var(--overlay-60, rgba(255, 255, 255, 0.6));
  font-size: var(--font-size-3, 12px);
}

.zoomPercent {
  color: var(--global-foreground, #fff);
  font-family: var(--code-font, 'IBM Plex Mono');
  text-align: center;
  font-size: var(--font-size-3, 12px);
}

.divider {
  width: 141px;
  height: 1px;
  color: var(--global-border, #383a3b);
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.menuButton {
  display: flex;
  padding: var(--spacing-2, 8px) var(--spacing-1, 4px);
  align-items: center;
  align-self: stretch;
  gap: var(--spacing-2, 8px);
  color: var(--global-foreground, #fff);
  font-size: var(--font-size-2, 11px);
  border-radius: var(--border-radius-base);
}

.menuButton:focus-visible {
  outline: 1px solid var(--primary-color);
}

.showMode {
  display: flex;
  padding-left: var(--spacing-1, 4px);
  align-items: center;
  gap: var(--spacing-1, 4px);
}

.showModeMenuButton {
  display: flex;
  width: 102px;
  padding: var(--spacing-1, 4px) var(--spacing-2, 8px);
  align-items: center;
  gap: var(--spacing-1half, 6px);
  border-radius: var(--border-radius-base);
  color: var(--button-secondary-foreground, #fff);
  font-size: var(--font-size-3, 12px);
}

.showModeMenuButton:focus-visible {
  outline: 1px solid var(--primary-color);
}

.cheveron {
  display: flex;
  width: 12px;
  height: 12px;
  justify-content: center;
  align-items: center;
}

.text {
  color: var(--overlay-60, rgba(255, 255, 255, 0.6));
  font-size: var(--font-size-3, 12px);
}

.closeButton {
  display: flex;
  height: 23px;
  padding: var(--spacing-1, 4px) var(--spacing-2, 8px);
  justify-content: center;
  gap: var(--spacing-1half, 6px);
  width: 100%;
  border-radius: var(--border-radius-base, 4px);
  border: 1px solid var(--button-border, #434546);
  color: var(--button-secondary-foreground, #fff);
  font-size: var(--font-size-3, 12px);
}

.closeButton:focus-visible {
  outline: 1px solid var(--primary-color);
}
