.sortSelect {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-1);
  padding: var(--spacing-2) var(--spacing-3);
  background-color: var(--global-background);
  border: var(--border-width-base) solid var(--global-border);
  border-radius: var(--border-radius-md);
  color: var(--global-foreground);
  font-size: var(--font-size-4);
  width: 282px;
  height: 36px;
  cursor: pointer;
}

.sortSelectIcon {
  margin-left: auto;
  color: var(--global-foreground);
  width: 1rem;
  height: 1rem;
}
