.tableName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  flex: 1;
  min-width: 0;
  max-width: 100%;
  display: block;
}

.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
  min-width: 0;
}

.active {
  background: linear-gradient(
      0deg,
      var(--primary-accent-overlay) 0%,
      var(--primary-accent-overlay) 100%
    ), var(--pane-background-active);
}
