.wrapper {
  display: grid;
  grid-auto-rows: auto;
  gap: var(--spacing-3);
}

.switchWrapper {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.switchLabel {
  color: var(--global-foreground);
  font-size: var(--font-size-5);
  line-height: 1;
  user-select: none;
}

.switchRoot {
  width: 42px;
  height: 20px;
  background-color: var(--pane-muted-background);
  border-radius: var(--border-radius-full);
  position: relative;

  &[data-state='checked'] {
    background-color: var(--primary-accent);
  }
}

.switchThumb {
  display: block;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: var(--border-radius-full);
  box-shadow: 0 2px 2px var(--black-a7);
  transition: transform 100ms;
  transform: translateX(2px);
  will-change: transform;

  &[data-state='checked'] {
    transform: translateX(24px);
  }
}
