.wrapper {
  display: grid;
  grid-auto-flow: row;
  gap: var(--spacing-4);
  position: fixed;
  left: 16px;
  bottom: 16px;
  right: 16px;
  width: auto;
  padding: var(--spacing-4);
  border-radius: var(--border-radius-lg);
  border: 1px solid var(--pane-border);
  background-color: var(--pane-background);
  box-shadow: 0px 4px 20px 0px var(--color-black-alpha-100);
  z-index: var(--z-index-cookie-consent);
}

.content {
  display: grid;
  grid-auto-flow: row;
  gap: var(--spacing-2);
}

.title {
  color: var(--global-foreground);
  font-family: var(--message-font);
  font-size: var(--font-size-5);
  line-height: 120%;
}

.description {
  color: var(--global-foreground);
  font-family: var(--main-font);
  font-size: var(--font-size-3);
  line-height: 160%;
}

.link {
  color: var(--primary-color);
  font-family: var(--main-font);
  font-size: var(--font-size-3);
  line-height: 160%;
}

.controls {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-4);
}

.button {
  padding: var(--spacing-1) var(--spacing-2);
  font-size: var(--font-size-3);
}

@media screen and (min-width: 768px) {
  .wrapper {
    gap: var(--spacing-6);
    width: 730px;
    padding: var(--spacing-6);
  }

  .content {
    gap: var(--spacing-3);
  }

  .title {
    font-size: var(--font-size-10);
  }

  .description {
    font-size: var(--font-size-5);
  }

  .link {
    font-size: var(--font-size-5);
  }

  .controls {
    gap: var(--spacing-6);
  }

  .button {
    padding: var(--spacing-2) var(--spacing-3);
    font-size: var(--font-size-4);
  }
}
