.wrapper {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: var(--spacing-1);
}

.menuButton {
  display: flex;
  padding: var(--spacing-1, 4px);
  align-items: center;
  border-radius: var(--border-radius-base);
  transition: background-color var(--default-hover-animation-duration)
    var(--default-timing-function);
}

.menuButton svg {
  color: var(--global-foreground, #fff);
}

.menuButton:hover {
  background-color: var(--pane-background-active, #2e3031);
}

.menuButton:focus-visible {
  outline: 1px solid var(--primary-color);
}

.zoomLevelText {
  color: var(--global-foreground);
  text-align: center;
  font-family: var(--code-font);
  font-size: var(--font-size-3);
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
