/* Modal styles */

.confirmInputContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
  margin-top: var(--spacing-4);
}

.confirmLabel {
  font-size: var(--font-size-3);
  color: var(--global-mute-text);
  margin: 0;
}

.organizationName {
  font-weight: 500;
  color: var(--global-foreground);
}

.confirmInput {
  width: 100%;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--global-border);
  margin-top: var(--spacing-4);
}
