@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}

.spinnerBox {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  pointer-events: none;
}

.circleBorder {
  width: 100px;
  height: 100px;
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #141616;
  background: linear-gradient(
    0deg,
    rgba(29, 237, 131, 0.05) 33%,
    rgba(29, 237, 131, 1) 100%
  );
  animation: spin 1.2s linear 0s infinite;
}

.circleCore {
  width: 100%;
  height: 100%;
  background-color: #141616;
  border-radius: 50%;
}
