.ul {
  padding-left: var(--spacing-3, 12px);
  font-size: var(--font-size-6, 16px);
  line-height: 160%;
}

.ul li {
  margin-top: var(--space-2, 16px);
  color: var(--global-body-text);
  font-weight: 400;
  padding-left: var(--spacing-3, 12px);
  position: relative;
}

.ul li::before {
  content: '';
  background: var(--overlay-40);
  display: block;
  height: 1px;
  width: 16px;
  position: absolute;
  left: calc(-1 * var(--spacing-3, 12px));
  top: 13px;
}

@media screen and (max-width: 768px) {
  .ul {
    font-size: var(--font-size-5, 14px);
  }

  .ul li::before {
    top: 11px;
  }
}
