.header {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-2);
  border-bottom: 1px solid var(--global-border);
  background-color: var(--pane-background);
  cursor: pointer;
}

.header:focus-visible {
  outline: 1px solid var(--primary-color);
}

.header:focus-visible {
  outline: 1px solid var(--primary-color);
}

@media screen and (max-width: 767px) {
  .header {
    position: sticky;
  }
  .header[data-state='closed'] {
    position: relative;
    top: auto;
  }
}

.iconTitleContainer {
  display: grid;
  grid-auto-flow: column;
  gap: var(--spacing-1);
  align-items: center;
  color: var(--overlay-70);
}

.heading {
  color: var(--global-foreground);
  font-size: var(--font-size-3);
  font-style: normal;
  line-height: normal;
}

.iconContainer {
  display: grid;
  grid-auto-flow: column;
  gap: var(--spacing-1);
  align-items: center;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s var(--default-timing-function);
}
