.box {
  position: absolute;
  border: solid 1px var(--primary-overlay-40);
  background-color: var(--primary-overlay-10);
}

.vertex {
  position: absolute;
  width: 0.375rem;
  height: 0.375rem;
  border: solid 1px var(--primary-overlay-40);
  background-color: var(--global-background);
  z-index: 1;
}

.topLeft {
  top: -0.1875rem;
  left: -0.1875rem;
}

.topRight {
  top: -0.1875rem;
  right: -0.1875rem;
}

.bottomLeft {
  bottom: -0.1875rem;
  left: -0.1875rem;
}

.bottomRight {
  bottom: -0.1875rem;
  right: -0.1875rem;
}
