.handleCardinality {
  top: auto;
  position: absolute;
  width: 23px;
  height: 16px;
  color: var(--global-border);
}

.handleCardinalityHighlighted {
  color: var(--node-layout);
  transition: color var(--default-hover-animation-duration)
    var(--default-timing-function);
}

.handleCardinalityRight {
  right: -23px;
}

.handleCardinalityLeft {
  left: -23px;
}
