.link {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  height: 6rem;
  border-left: 1px solid var(--global-foreground, #fff);
  transition: border-color var(--default-hover-animation-duration)
    var(--default-timing-function);
}

.link:hover {
  border-left-color: var(--primary-color, #1ded83);
}

.textWrapper {
  display: grid;
  align-content: center;
  gap: var(--spacing-4);
  min-height: 0;
  height: 100%;
  padding: 0 48px;
  background: var(--global-background, #141616);
  transition: background-color var(--default-hover-animation-duration)
    var(--default-timing-function);
}

.link:hover .textWrapper {
  background: var(--primary-accent-overlay, rgba(29, 237, 131, 0.1));
}

.title {
  color: var(--global-foreground, #fff);
  font-family: var(--message-font, Montserrat);
  font-size: var(--font-size-5, 0.875rem);
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  transition: color var(--default-hover-animation-duration)
    var(--default-timing-function);
}

.link:hover .title {
  color: var(--primary-color, #1ded83);
}

.domain {
  display: flex;
  align-items: center;
  gap: var(--spacing-1);
  color: var(--global-body-text);
  font-size: var(--font-size-3);
  transition: color var(--default-hover-animation-duration)
    var(--default-timing-function);
}

.link:hover .domain {
  color: var(--primary-color, #1ded83);
}

.image {
  display: none;
  width: auto;
  height: 100%;
  min-height: 0;
  object-fit: cover;
}

@media screen and (min-width: 1024px) {
  .link {
    height: 11.25rem;
  }

  .title {
    font-size: var(--font-size-6, 1rem);
  }

  .domain {
    font-size: var(--font-size-4);
  }

  .image {
    display: block;
  }
}
