@import 'destyle.css';
@import './variables.css';
@import './Dark/variables.css';
@import './Mode 1/variables.css';

:root {
  --main-padding: var(--spacing-10, 40px);
}

body {
  color: var(--global-foreground);
  background: var(--global-background);
  font-family: var(--main-font);
  font-weight: var(--text-weight-en-regular);
}

main {
  max-width: var(--default-page-width-with-margin);
  margin: 0 auto;
  padding: var(--main-padding) 0;
  margin-top: var(--default-header-height);
}

@media screen and (max-width: 1024px) {
  main {
    padding: 0;
  }
}
