[data-rehype-pretty-code-figure] {
  position: relative;

  pre {
    border-radius: var(--border-radius-md);
    overflow-x: auto;
    border: 1px solid var(--global-border);
  }

  pre > code {
    display: grid;
    border-radius: var(--border-radius-md);
    padding: var(--spacing-3) 0 var(--spacing-3);
    line-height: 1.6;
    font-family: 'ui-monospace', 'SFMono-Regular', 'SF Mono', 'Menlo', 'Monaco',
      'Consolas', monospace;
    font-size: var(--font-size-4);
    counter-reset: line;

    [data-line] {
      border-left: var(--spacing-1) solid transparent;
      padding: 0 var(--spacing-3);

      &:before {
        counter-increment: line;
        content: counter(line);
        display: inline-block;
        width: var(--spacing-5);
        margin-right: var(--spacing-5);
        text-align: right;
        color: gray;
      }
    }

    [data-highlighted-line] {
      background-color: var(--color-green-alpha-10);
      border-color: var(--primary-color);
    }
  }
}

[data-rehype-pretty-code-title] {
  position: absolute;
  top: 0;
  left: 0;
  padding: var(--spacing-3) var(--spacing-3);
  background-color: var(--global-muted-background);
  border-top-left-radius: var(--border-radius-md);
  border-bottom-right-radius: var(--border-radius-md);
  border: 1px solid var(--global-border);
  font-size: var(--font-size-2);
  line-height: 1;

  & + pre > code {
    padding-top: var(--spacing-14);
  }
}

@media screen and (max-width: 768px) {
  [data-rehype-pretty-code-figure] {
    pre > code {
      padding: var(--spacing-2) 0 var(--spacing-2);
      font-size: var(--font-size-2);

      [data-line] {
        padding: 0 var(--spacing-2);

        &:before {
          width: var(--spacing-4);
          margin-right: var(--spacing-4);
        }
      }
    }
  }

  [data-rehype-pretty-code-title] {
    padding: var(--spacing-2) var(--spacing-2);
    & + pre > code {
      padding-top: var(--spacing-10);
    }
  }
}
