.wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 300px;
  height: 100%;
  border-left: 1px solid var(--pane-border, #383a3b);
  background-color: var(--pane-background, #232526);
  box-shadow: 0px 4px 20px 0px var(--shadow-basic-shadow, #000);
  word-break: break-all;
  list-style-position: outside;
  font-family: var(--main-font);
}

.header {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-2);
  border-bottom: 1px solid var(--global-border);
  color: var(--overlay-70);
}

.iconTitleContainer {
  display: grid;
  grid-auto-flow: column;
  gap: var(--spacing-1);
  align-items: center;
}

.heading {
  color: var(--global-foreground);
  font-size: var(--font-size-3);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.body {
  overflow-y: scroll;
}

.relatedTables {
  position: sticky;
  bottom: 0;
  background-color: var(--pane-background, #232526);
}
