.columnWrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: var(--spacing-2);
  gap: var(--spacing-1half);
  background: var(--node-background);
  color: var(--global-foreground);
  font-size: var(--font-size-3);
  line-height: normal;
  border-bottom: 1px solid var(--node-border);
  position: relative;
}

.columnWrapper:last-child {
  border-bottom-left-radius: var(--border-radius-md);
  border-bottom-right-radius: var(--border-radius-md);
}

.primaryKeyIcon {
  color: var(--primary-accent);
}

.linkIcon {
  color: var(--primary-accent);
}

.diamondIcon {
  color: var(--overlay-70);
}

.columnNameWrapper {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-3);
}

.columnType {
  color: var(--overlay-70, rgba(255, 255, 255, 0.7));
  text-align: right;
  font-family: var(--code-font);
  font-size: var(--font-size-1);
  font-weight: 400;
  line-height: normal;
  opacity: 0;
  transition: opacity 300ms var(--default-timing-function);
}

:global([data-erd='table-node-highlighted']) .columnType {
  opacity: 1;
}

.handle {
  top: auto;
  opacity: 0;
}

.handle[data-handlepos='right'] {
  transform: translate(50%, 0%);
  right: -17px;
}

.handle[data-handlepos='left'] {
  transform: translate(-50%, 0%);
  left: -20px;
}
