.wrapper {
  width: 100%;
  height: 100%;
  opacity: 1;
  padding: 8px;
  border: 1px dashed var(--color-gray-600);
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.1);
}

:global([data-loading='true']) .wrapper {
  opacity: 0;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 8px;
}

.title {
  font-weight: bold;
  color: var(--color-gray-200);
  font-size: 14px;
}

.actions {
  color: var(--color-gray-400);
  font-size: 12px;
  font-style: italic;
}
