:global([data-loading='true']) .wrapper {
  opacity: 0;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: var(--overlay-5);
  border: solid 1px var(--overlay-5);
  border-radius: var(--border-radius-base);
  transition: background-color var(--default-hover-animation-duration)
    var(--default-timing-function);
}

.wrapper:hover {
  background-color: var(--overlay-10);
}

.wrapperSelected,
.wrapperSelected:hover {
  background-color: var(--primary-overlay-10);
}

.heading {
  position: absolute;
  top: -24px;
  left: 0;
  padding: var(--spacing-half) var(--spacing-1);
  border-radius: var(--border-radius-base, 0.25rem);
  border: 1px solid var(--overlay-5, rgba(255, 255, 255, 0.05));
  background-color: var(--overlay-5, rgba(255, 255, 255, 0.05));
  backdrop-filter: blur(8px);
  font-size: var(--font-size-3);
  color: var(--overlay-40);
  transition: background-color var(--default-hover-animation-duration)
    var(--default-timing-function), color
    var(--default-hover-animation-duration) var(--default-timing-function);
}

.wrapper:hover .heading {
  background-color: var(--overlay-10);
  color: var(--global-foreground);
}

.headingSelected,
.wrapper:hover .headingSelected {
  border-color: var(--primary-overlay-40, rgba(29, 237, 131, 0.4));
  background-color: var(--primary-overlay-10, rgba(29, 237, 131, 0.1));
  color: var(--global-foreground);
}

.commentButton {
  position: absolute;
  top: -28px;
  right: 0;
}

.wrapper :global(.react-flow__resize-control) {
  width: 0.375rem;
  height: 0.375rem;
  background-color: var(--global-background);
  border: solid 1px var(--primary-overlay-40);
}
