.labelWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--spacing-2);
  word-break: break-word;
}

.label {
  font-size: var(--font-size-1);
  color: var(--node-layout);
  opacity: 0;
  transition: opacity 0.3s var(--default-timing-function);
}

.labelShow {
  opacity: 1;
}
