.icon path {
  fill: var(--link-default);
}

.button {
  display: inline-flex;
  padding: var(--spacing-2, 8px);
  align-items: center;
  border-radius: var(--border-radius-full);
  background: var(--pane-background);
  transition: color var(--default-hover-animation-duration)
    var(--default-timing-function), background-color
    var(--default-hover-animation-duration) var(--default-timing-function);

  &:hover {
    background: var(--pane-background-hover);

    .icon path {
      fill: var(--global-foreground);
    }
  }
}
