.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-2, 8px);
}

.chart {
  width: 90%;
  height: 90%;
  max-height: 300px;
}

.noScores {
  color: white;
  font-size: 1rem;
  text-align: center;
  opacity: 0.8;
}
