.wrapper {
  display: grid;
  gap: var(--spacing-4);
  grid-template-columns: auto 1fr;
  align-items: center;
  width: 100%;
  padding: var(--spacing-4, 1rem);
  font-family: var(--main-font);
  font-size: var(--font-size-3, 0.75rem);
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.default {
  color: var(--callout-default-text, #bebfc1);
  background: var(--callout-default-background, rgba(255, 255, 255, 0.05));
}

.danger {
  color: var(--callout-danger-text, #ea928e);
  background: var(--callout-danger-background, rgba(247, 80, 73, 0.1));
}

.success {
  color: var(--callout-success-text, #5ec692);
  background: var(--callout-success-background, rgba(29, 237, 131, 0.1));
}

.info {
  color: var(--callout-info-text, #97bdcb);
  background: var(--callout-info-background, rgba(20, 188, 255, 0.1));
}

.warn {
  color: var(--callout-warning-text, #c3b476);
  background: var(--callout-warning-background, rgba(255, 215, 72, 0.1));
}

.icon {
  width: 1rem;
  height: 1rem;
}

.body {
  display: grid;
  gap: var(--spacing-1);
}

.body a {
  font-size: var(--font-size-5, 0.875rem);
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .wrapper {
    font-size: var(--font-size-5, 0.875rem);
  }

  .icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}
