.header {
  max-width: var(--default-page-width-with-margin);
  height: var(--default-header-height);
  padding: 0 var(--default-page-margin);
  margin: 0 auto;
  background-color: var(--background);
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 0 var(--spacing-10, 40px);
  }
}

.h1 {
  color: var(--foreground);
}
