.figure {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-5, 20px);
}

.image {
  width: 100%;
  object-fit: cover;
}

.figcaption {
  color: var(--global-mute-text);
  text-align: center;
  font-size: var(--font-size-4, 13px);
  line-height: 1.6;
}

@media screen and (max-width: 768px) {
  .figcaption {
    font-size: var(--font-size-3, 12px);
  }
}
