@import url('destyle.css');

:root {
  --background: #171717;
  --foreground: #ffffff;
  --message-font: Montserrat, sans-serif;
  --body-font: Inter, sans-serif;
  --font-weight-regular: 300;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--body-font);
  font-weight: var(--font-weight-regular);
}
