.wrapper {
  display: grid;
  grid-auto-flow: row;
  gap: var(--spacing-1);
  padding: var(--spacing-2);
  background-color: var(--overlay-5);
  border-radius: var(--border-radius-lg);
}

.title {
  padding: var(--spacing-2);
  color: var(--global-foreground);
  font-family: var(--main-font);
  font-size: var(--font-size-5);
}

.wrapper :global(.toc-list-item) {
  display: grid;
  align-items: center;
  padding: var(--spacing-2);
  color: var(--overlay-70);
  font-family: var(--main-font);
  font-size: var(--font-size-4);
}
