.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--global-background);
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
  width: 400px;
  padding: var(--spacing-10);
  border-radius: var(--border-radius-xl, 0.75rem);
  border: 1px solid var(--primary-color, #1ded83);
  background: var(
    --Auth-Background,
    linear-gradient(
      179deg,
      var(--primary-gradation-overlay-start, rgba(29, 237, 131, 0.12)) 0.79%,
      var(--primary-gradation-overlay-end, rgba(29, 237, 131, 0.0)) 99.35%
    )
  );
  box-shadow: 0px 0px 20px 0px rgba(29, 237, 131, 0.4), 0px 4px 80px 0px
    rgba(29, 237, 131, 0.1) inset;
  backdrop-filter: blur(2.5px);
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-3);
}

.logoMark {
  width: 2.5rem;
  height: 2.5rem;
}

.title {
  text-align: center;
  margin-bottom: var(--spacing-6);
  color: var(--global-foreground);
  font-size: var(--font-size-8);
  font-weight: var(--text-weight-en-medium);
}

.oauthList {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-5);
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}

.label {
  color: var(--global-foreground);
  font-size: var(--font-size-4);
}

.passwordHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.divider {
  display: flex;
  align-items: center;
  color: var(--overlay-70);
  margin: var(--spacing-4) 0;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid var(--global-border);
}

.divider span {
  padding: 0 var(--spacing-2);
  font-size: var(--font-size-3);
}

.oauthButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-2);
  width: 100%;
  padding: var(--spacing-2) var(--spacing-4);
  border-radius: var(--border-radius-base);
  border: 1px solid var(--global-border);
  background-color: transparent;
  color: var(--global-foreground);
  font-size: var(--font-size-4);
  cursor: pointer;
  transition: background-color 0.2s;
}

.oauthButton:hover {
  background-color: var(--pane-background-hover);
}

.oauthIcon {
  margin-right: var(--spacing-2);
}
