.title {
  display: inline-block;
  font-family: var(--message-font, Montserrat);
  font-size: var(--font-size-6, 16px);
  font-weight: 600;
  line-height: 1.2;
  color: var(--link-default, #bebfc1);
  height: 24px;
  padding: 1px 0;
  gap: var(--spacing-1, 4px);
}

.list {
  margin-top: var(--spacing-5, 20px);
  display: flex;
  flex-direction: row;
  gap: var(--spacing-4, 16px);
  flex-wrap: wrap;
  row-gap: var(--spacing-3, 12px);
}
