.wrapper {
  --wrapper-padding: var(--spacing-10, 40px);
  --wrapper-margin: var(--spacing-5, 20px);
  padding: var(--wrapper-padding);
  border: 1px solid var(--global-border, #383a3b);
  background: url('/images/svg/Cross.svg') repeat;
  margin: var(--wrapper-margin) 0;
}

.blockquote {
  --blockquote-font-size: var(--font-size-7, 18px);
  display: inline-block;
  font-size: var(--blockquote-font-size);
  color: var(--global-mute-text, #bebfc1);
  font-family: var(--message-font, Montserrat);
  font-weight: 400;
  line-height: 1.6;
}

.blockquote cite {
  --cite-font-size: var(--font-size-4, 13px);
  font-family: var(--main-font, Inter);
  font-size: var(--cite-font-size);
  font-weight: 500;
  color: var(--global-mute-text, #bebfc1);
  text-align: right;
  display: block;
  margin-top: var(--spacing-2, 8px);
}

.blockquote a {
  text-decoration: underline;
}

.blockquote a:hover {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .wrapper {
    --wrapper-padding: var(--spacing-4, 16px);
    --wrapper-margin: var(--spacing-4, 16px);
  }

  .blockquote {
    --blockquote-font-size: var(--s-fontSize-6, 16px);
  }

  .blockquote cite {
    --cite-font-size: var(--font-size-3, 12px);
  }
}
