.wrapper {
  border-bottom: 1px solid var(--global-border);
}

.header {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-2);
  border-bottom: 1px solid var(--global-border);
}

.iconTitleContainer {
  display: grid;
  grid-auto-flow: column;
  gap: var(--spacing-1);
  align-items: center;
  color: var(--overlay-70);
}

.heading {
  color: var(--global-foreground);
  font-size: var(--font-size-2);
  font-style: normal;
  line-height: normal;
}

.list {
  list-style: inside;
  padding: var(--spacing-3);
}

.listItem {
  color: var(--color-white-alpha-70);
  font-size: var(--font-size-2);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
