.header {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-2);
  border-bottom: 1px solid var(--global-border);
  background-color: var(--pane-background);
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .header {
    position: sticky;
    /* Columns section header height */
    top: 41px;
  }
}

.iconTitleContainer {
  display: grid;
  grid-auto-flow: column;
  gap: var(--spacing-1);
  align-items: center;
  color: var(--overlay-70);
}

.heading {
  color: var(--global-foreground);
  font-size: var(--font-size-2);
  font-style: normal;
  line-height: normal;
}

.listWrapper {
  max-height: 0;
  transition: max-height 0.1s var(--default-timing-function);
  overflow: hidden;
}

.listWrapper.visible {
  max-height: 100vh;
  border-bottom: 1px solid var(--global-border);
}

.list {
  list-style: inside;
  padding: var(--spacing-3);
}

.listItem {
  color: var(--color-white-alpha-70);
  font-size: var(--font-size-2);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
