.listWrapper {
  border-bottom: 1px solid var(--global-border);
}

.list {
  list-style: inside;
  padding: var(--spacing-3);
}

.listItem {
  color: var(--color-white-alpha-70);
  font-size: var(--font-size-2);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
