.sidebarProvider {
  position: relative;
  min-height: 100%;
}

.sidebarTrigger {
  padding: var(--spacing-2);
  color: var(--overlay-70);
  border-radius: var(--border-radius-base);
  transition: background-color var(--default-hover-animation-duration)
    var(--default-timing-function);
}

.sidebarTrigger:hover {
  background: var(--pane-background-active, #2e3031);
}

.sidebarGap {
  width: 100%;
  height: 100%;
  transition-duration: 200ms;
  animation-timing-function: linear;
  transition-property: width;
}

[data-collapsible='offcanvas'] .sidebarGap {
  width: 0;
}

.sidebarWrapper {
  width: 100%;
  height: 100vh;
  z-index: var(--z-index-sidebar);
  transition-duration: 200ms;
  animation-timing-function: linear;
  transition-property: left, right, width;
  display: flex;
  left: 0;
  color: var(--global-foreground);
  border-right: 1px solid var(--pane-border);
}

[data-collapsible='offcanvas'] .sidebarWrapper {
  left: calc(var(--sidebar-width) * -1);
}

.sidebar {
  background: var(--pane-background);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidebarContent {
  flex: 1 1 0%;
  overflow-y: auto;
}

.sidebarMenuItem {
  position: relative;
}

.sidebarMenuButton {
  padding: var(--spacing-2);
  display: flex;
  gap: var(--spacing-1);
  align-items: center;
  font-size: var(--font-size-2);
  color: var(--link-default);
  width: 100%;
  transition: background-color var(--default-hover-animation-duration)
    var(--default-timing-function);
}

.sidebarMenuButton:hover {
  padding-right: var(--spacing-9);
  background: var(--pane-background-hover);
}

.sidebarMenuButton:focus-visible {
  outline: 1px solid var(--primary-color);
}

.sidebarMenuAction {
  position: absolute;
  top: 0;
  bottom: 0;
  right: var(--spacing-5);
  border-radius: var(--border-radius-base);
  padding: 0 var(--spacing-1, 4px);
}

.sidebarMenuAction:focus-visible {
  outline: 1px solid var(--primary-color);
}

.sidebarMenuAction.showOnHover {
  opacity: 0;
  transition: opacity var(--default-hover-animation-duration)
    var(--default-timing-function);
}

[data-sidebar='menu-item']:hover .sidebarMenuAction.showOnHover {
  opacity: 1;
}

.sidebarGroupLabel {
  padding: var(--spacing-2);
  border-bottom: 1px solid var(--global-border);
}

.sidebarGroupLabel span {
  display: inline-flex;
  align-items: center;
  height: 24px;
  font-size: var(--font-size-2);
  font-weight: 500;
  line-height: normal;
}

.sidebarFooter {
  color: var(--overlay-70);
  padding: var(--spacing-2);
  border-top: 1px solid var(--global-border);
}
