.wrapper {
  width: 100%;
  padding: var(--spacing-4, 1rem);
  color: var(--s-callout-s-default-text, #bebfc1);
  background: var(--s-callout-s-default-background, rgba(255, 255, 255, 0.05));
}

.danger {
  color: var(--s-callout-s-danger-text, #ea928e);
  background: var(--s-callout-s-danger-background, rgba(247, 80, 73, 0.1));
}
