.heading {
  display: inline-block;
  font-family: var(--message-font, Montserrat);
  font-size: var(--font-size-6, 16px);
  font-weight: 600;
  line-height: 1.2;
  color: var(--link-default, #bebfc1);
  height: 24px;
  padding: 1px 0;
  gap: var(--spacing-1, 4px);
  transition: color var(--default-hover-animation-duration)
    var(--default-timing-function), background-color
    var(--default-hover-animation-duration) var(--default-timing-function);

  &:hover {
    color: var(--global-foreground, #fff);
    border-bottom: 1px solid
      var(--callout-default-underline, rgba(255, 255, 255, 0.4));
  }
}
