@import url('@liam-hq/ui/src/styles/globals.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Color Primitive */
  :root {
    --liam-gray-0: 0 0% 100%;
    --liam-gray-5: 0 0% 97%;
    --liam-gray-10: 0 0% 94%;
    --liam-gray-30: 220 7% 91%;
    --liam-gray-40: 210 3% 87%;
    --liam-gray-50: 210 2% 82%;
    --liam-gray-100: 220 2% 75%;
    --liam-gray-400: 206 4% 39%;
    --liam-gray-500: 200 2% 27%;
    --liam-gray-600: 200 3% 23%;
    --liam-gray-700: 200 3% 23%;
    --liam-gray-800: 200 3% 19%;
    --liam-gray-900: 200 4% 14%;
    --liam-gray-1000: 180 5% 8%;
    --liam-gray-1100: 180 5% 6%;

    --liam-green-10: 135 67% 99%;
    --liam-green-50: 145 100% 97%;
    --liam-green-80: 135 100% 94%;
    --liam-green-100: 136 100% 89%;
    --liam-green-200: 148 97% 85%;
    --liam-green-300: 149 86% 62%;
    --liam-green-400: 149 85% 52%;
    --liam-green-500: 145 56% 49%;
    --liam-green-600: 150 100% 26%;
    --liam-green-700: 143 49% 18%;
    --liam-green-950: 152 100% 10%;

    --base-black: 0 0% 0%;
    --base-white: 0 0% 100%;
  }

  /* Color Semantics */
  :root {
    --primary-background: hsl(149 85% 52% / 0.05);
    --warn: 37 95% 53%;
    --danger: 2 92% 63%;

    /* Overrides for Fumadocs */
    --fd-background: 0 0% 98%;
    --fd-foreground: var(--liam-gray-1000);
    --fd-muted: var(--liam-gray-5);
    --fd-muted-foreground: var(--liam-gray-600);
    --fd-popover: var(--base-white);
    --fd-popover-foreground: var(--liam-gray-800);
    --fd-card: var(--base-white);
    --fd-card-foreground: var(--liam-gray-1000);
    --fd-border: var(--liam-gray-30);
    --fd-primary: var(--liam-green-600);
    --fd-primary-foreground: var(--base-black);
    --fd-secondary: var(--liam-gray-10);
    --fd-secondary-foreground: var(--liam-gray-500);
    --fd-accent: var(--liam-gray-50);
    --fd-accent-foreground: var(--liam-gray-500);

    --fd-ring: 221 83% 53%;
  }

  .dark {
    --primary-background: hsl(149 85% 52% / 0.1);
    --warn: 47 100% 64%;

    /* Overrides for Fumadocs */
    --fd-background: var(--liam-gray-1100);
    --fd-foreground: var(--liam-gray-0);
    --fd-muted: var(--liam-gray-900);
    --fd-muted-foreground: var(--liam-gray-100);
    --fd-popover: var(--liam-gray-1000);
    --fd-popover-foreground: var(--liam-gray-0);
    --fd-card: var(--liam-gray-1000);
    --fd-card-foreground: var(--liam-gray-0);
    --fd-border: var(--liam-gray-800);
    --fd-primary: var(--liam-green-400);
    --fd-primary-foreground: var(--base-black);
    --fd-secondary: var(--liam-gray-600);
    --fd-secondary-foreground: var(--liam-gray-10);
    --fd-accent: var(--liam-gray-800);
    --fd-accent-foreground: var(--liam-gray-30);
  }
}
