.trigger {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
  padding: var(--spacing-1half) var(--spacing-2);
  border-radius: var(--border-radius-md, 0.375rem);
  cursor: pointer;
  transition: background-color var(--default-hover-animation-duration)
    var(--default-timing-function);
}

.trigger:hover {
  background-color: var(--pane-background-active, #2e3031);
}

.iconAndName {
  display: flex;
  align-items: center;
  gap: var(--spacing-1half);
}

.projectIcon {
  width: 1rem;
  height: 1rem;
  color: var(--overlay-50);
}

.projectName {
  color: var(--global-foreground, #fff);
  font-family: var(--main-font, Inter);
  font-size: var(--font-size-4, 0.8125rem);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.chevronIcon {
  width: 0.75rem;
  height: 0.75rem;
  color: var(--overlay-70);
}

.content {
  width: 15rem;
}
